:root {
  --secondary-text-color: #212121;
  --hero-btn-focus: #188ce8;
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --another-text-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --main-icons-color: #afb1b8;
  --another-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  color: var(--another-text-color);
  background-color: var(--accent-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title-text {
  margin: 0;
}

.name {
  margin: 0;
}

.post {
  margin: 0;
}

.text {
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  display: inline-block;
  max-width: 145px;
  text-decoration: none;
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.dark {
  color: var(--secondary-text-color);
}

.light {
  color: var(--another-text-color);
}

@media screen and (min-width: 1200px) {
  .section-list.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-list .title {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-list .title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.section-list .name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section-list .post {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__contacts.list {
  display: none;
}

@media (min-width: 768px) {
  .page-header__contacts.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .page-header__contacts.list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page-header__list-item {
  margin-left: 50px;
}

.page-header__list-item:first-child {
  margin-left: 0;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .page-header__list-item {
    margin-left: 0;
  }
}

.page-header__button {
  display: block;
  background-color: transparent;
  border: transparent;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-header__button:focus, .page-header__button:hover {
  color: var(--accent-text-color);
}

@media (min-width: 768px) {
  .page-header__button {
    display: none;
  }
}

.page-header .logo {
  margin-right: 93px;
}

.page-header .modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 5;
  background-color: var(--primary-bg-color);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .page-header .modal-menu {
    display: none;
  }
}

.modal-menu.is-visible {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.site-nav {
  display: none;
}

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__list-item {
  margin-left: 50px;
}

.site-nav__list-item:first-child {
  margin-left: 0;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:focus, .site-nav .link:hover {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-text-color);
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.page-header__icon {
  fill: currentColor;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.page-header__contacts.list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .page-header__contacts.list .link:first-child {
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .page-header__contacts.list .link:last-child {
    padding-top: 0;
  }
}

.page-header__contacts .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__contacts .link:focus, .page-header__contacts .link:hover {
  color: var(--accent-text-color);
}

.modal-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-menu__list-item:nth-child(1) {
  margin-bottom: 35px;
}

.modal-menu__list-item:nth-child(2) {
  margin-bottom: 35px;
}

.modal-menu__list-item .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu__list-item .link:focus, .modal-menu__list-item .link:hover {
  color: var(--accent-text-color);
}

.modal-menu__contacts-list {
  margin-bottom: 64px;
}

.modal-menu__contacts:nth-child(1) {
  margin-bottom: 32px;
}

.modal-menu__contacts .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu__contacts .link:focus, .modal-menu__contacts .link:hover {
  color: var(--accent-text-color);
}

.modal-menu__contacts .number {
  font-size: 34px;
  color: var(--accent-text-color);
}

.modal-menu__sociallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-menu__sociallink .link {
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.modal-menu__button {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: transparent;
  border: transparent;
}

.modal-menu__button:focus, .modal-menu__button:hover {
  color: var(--accent-text-color);
}

.modal-menu__button .page-header__closeicon {
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  color: var(--another-text-color);
  max-width: 360px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6;
}

@media (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero-button {
  color: var(--another-text-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  background-color: var(--hero-btn-focus);
}

@media (min-width: 1200px) {
  .section.features {
    padding-bottom: 0;
  }
}

.section.features .title {
  margin-bottom: 10px;
}

.section-title {
  margin: 0;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 28px;
  line-height: 1.14;
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.2;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .section.features .section-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .section.features .section-list-item:last-child {
    margin-bottom: 0px;
  }
  .section.features .section-list-item .title {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .section.features .section-list-item {
    width: 354px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .section.features .section-list-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .section.features .section-list-item {
    margin-left: 30px;
    width: 270px;
  }
  .section.features .section-list-item:first-child {
    margin-left: 0px;
  }
}

.features-background-icon {
  background-color: var(--button-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
}

.section.competence {
  display: none;
}

@media (min-width: 1200px) {
  .section.competence {
    display: block;
  }
}

.section.competence .section-title {
  margin-bottom: 50px;
}

.section.competence .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section.competence .list-pictures {
  position: relative;
  margin-right: 30px;
}

.section.competence .list-pictures:last-child {
  margin-right: 0px;
}

.section.competence .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--another-text-color);
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.section.team {
  background-color: var(--another-bg-color);
}

.section.team .card {
  border-radius: 0px 0px 4px 4px;
}

.section.team .section-title {
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .section.team .section-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .section.team .section-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section.team .section-list-card {
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  .section.team .section-list-card:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .section.team .section-list-card {
    width: 354px;
  }
  .section.team .section-list-card:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .section.team .section-list-card {
    margin-right: 30px;
  }
  .section.team .section-list-card:last-child {
    margin-right: 0px;
  }
}

.section.team .footer-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section.team .footer-card .name {
  margin-bottom: 10px;
}

.section.team .footer-card .post {
  margin-bottom: 10px;
}

.bottom-card {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.bottom-card .title {
  margin-bottom: 4px;
}

.footer-card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-card-icon {
  fill: currentColor;
}

.footer-card-link {
  margin-left: 10px;
}

.footer-card-link:first-child {
  margin-left: 0px;
}

.footer-card-link .link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: var(--main-icons-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-card-link .link:focus, .footer-card-link .link:hover {
  color: var(--another-text-color);
  background-color: var(--accent-text-color);
}

.section.clients .section-title {
  margin-bottom: 50px;
}

.section.clients .section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: 30px; */
  width: 210px;
  height: 92px;
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .company-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 480px) {
  .company-item {
    margin-left: 30px;
  }
}

@media (max-width: 767.98px) {
  .company-item {
    margin-bottom: 30px;
  }
  .company-item:nth-child(odd) {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .company-item:nth-child(3n+1) {
    margin-left: 0;
  }
  .company-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .company-item {
    width: 170px;
  }
  .company-item:first-child {
    margin-left: 0px;
  }
}

.company-item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--main-icons-color);
  border: 1px solid var(--main-icons-color);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-item .link:hover, .company-item .link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.address .link {
  color: var(--address-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:focus, .address .link:hover {
  color: var(--accent-text-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.page-footer .address-text {
  margin-bottom: 9px;
}

.page-footer .number {
  display: block;
  margin-top: 9px;
}

@media (max-width: 767.98px) {
  .page-footer .container .container-address {
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .page-footer .container .container-footerlinks {
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .page-footer .container {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .page-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .page-footer .top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .page-footer .top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-link {
  margin-left: 10px;
}

.footer-link:first-child {
  margin-left: 0px;
}

.footer-link .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link .link:hover, .footer-link .link:focus {
  background-color: var(--accent-text-color);
}

.link-icon {
  fill: var(--another-text-color);
}

@media (min-width: 1200px) {
  .container-footerlinks {
    margin-left: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .container-footerlinks {
    text-align: center;
    margin-left: 163px;
  }
}

.container-footerlinks .title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--another-text-color);
  margin-bottom: 20px;
}

.container-footerlinks .section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*  @include mq(mobile){
      display: flex;
      justify-content: center;
    }
 */
}

.address-text {
  margin: 0;
  color: var(--another-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

.page-footer .logo {
  margin-bottom: 20px;
}

.email-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767.98px) {
  .email-form {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .email-form {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .container-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container-form {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
  }
}

@media (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--another-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-left: 12px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
  background-color: var(--hero-btn-focus);
}

@media (max-width: 767.98px) {
  .form-button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .form-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.label-form-footer {
  display: block;
  color: var(--another-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .label-form-footer {
    margin-bottom: 10px;
  }
}

.input-form-footer {
  display: inline-block;
  background-color: transparent;
  height: 50px;
  max-width: 450px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  color: var(--address-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.input-form-footer::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}

.input-form-footer:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}

.input-form-footer::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}

.input-form-footer::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-text-color);
}

@media (min-width: 768px) {
  .input-form-footer {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .input-form-footer {
    width: 358px;
  }
}

.icon-send {
  margin-left: 10px;
  fill: var(--another-text-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  width: 100vw;
  height: 100vh;
  max-width: 450px;
  min-height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
    top: 50%;
  }
}

.modal .button-modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #212121;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .button-modal:focus, .modal .button-modal:hover {
  color: var(--accent-text-color);
}

.close-btn {
  fill: currentColor;
}

.field {
  position: relative;
  margin-bottom: 10px;
}

.field:nth-child(4) {
  margin-bottom: 20px;
}

.field:nth-child(5) {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.field:focus-within .input-modal-form {
  border: 1px solid var(--accent-text-color);
}

.field:focus-within .modal-textarea {
  border: 1px solid var(--accent-text-color);
}

.field:focus-within .modal-icon {
  fill: var(--accent-text-color);
}

.label-modal-form {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.input-modal-form {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .input-modal-form {
    width: 370px;
  }
}

@media (min-width: 1200px) {
  .input-modal-form {
    width: 448px;
  }
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal-textarea {
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

@media (min-width: 768px) {
  .modal-textarea {
    width: 370px;
  }
}

@media (min-width: 1200px) {
  .modal-textarea {
    width: 448px;
  }
}

.modal-form-heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-text-color);
}

@media (min-width: 1200px) {
  .modal-form-heading {
    line-height: 1.15;
  }
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-text-color);
}

@media (min-width: 1200px) {
  .agreement {
    font-size: 14px;
    line-height: 1.7;
  }
}

.agreement-link {
  color: var(--accent-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 1px;
}

@media (min-width: 1200px) {
  .agreement-link {
    margin-left: 5px;
  }
}

.modal-button {
  color: var(--another-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background-color: var(--hero-btn-focus);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon-check {
  border: 1px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 7px;
  fill: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-check {
  fill: var(--another-text-color);
  background-color: var(--accent-text-color);
  border: transparent;
}

.button-modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .portfolio-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .portfolio-nav {
    margin-bottom: 50px;
  }
}

.portfolio-nav-button {
  margin-right: 8px;
}

.portfolio-nav-button:last-child {
  margin-right: 0px;
}

@media (max-width: 767.98px) {
  .portfolio-nav-button:first-child {
    margin-bottom: 15px;
  }
  .portfolio-nav-button:nth-child(3) {
    margin-bottom: 15px;
  }
}

.portfolio-nav-button .button {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav-button .button:hover, .portfolio-nav-button .button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .portfolio-gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-gallery .title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-gallery .text {
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-gallery .link {
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio-gallery-item {
  text-decoration: inherit;
  margin-bottom: 30px;
}

.portfolio-gallery-item:last-child {
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .portfolio-gallery-item {
    margin-right: 30px;
  }
  .portfolio-gallery-item:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio-gallery-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-gallery-item:hover .description-gallery {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-gallery-item .text {
  color: var(--main-text-color);
}

.portfolio-gallery-item .link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-gallery-item .link:focus, .portfolio-gallery-item .link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-gallery-item .header-card {
  position: relative;
  overflow: hidden;
}

.portfolio-gallery-item .bottom-card {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.description-gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(33, 150, 243, 0.9)), to(rgba(33, 150, 243, 0.9)));
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-gallery .description {
  color: var(--another-text-color);
  font-size: 18px;
  line-height: 1.6;
}
/*# sourceMappingURL=main.css.map */