.section.clients .section-title {
  margin-bottom: 50px;
}

.section.clients .section-list{
  display: flex;
  flex-wrap: wrap;
}

.company-item {
  display: flex;
  margin-left: 30px;
  width: 170px;
  height: 92px;
  @media screen and (max-width:767px){
    margin-bottom: 30px;
    &:nth-last-child(-n + 2){
      margin-bottom: 0;
    }
  }
  @media screen and (min-width:1200px){
    &:first-child {
      margin-left: 0px;
    }
  }
}

.company-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--main-icons-color);
  border: 1px solid var(--main-icons-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
  }

}
