.section.competence {
  display: none;

  @include mq(desktop){
    display: block;

  }
}


.section.competence .section-title {
  margin-bottom: 50px;
}

.section.competence .list {
  display: flex;
}

.section.competence .list-pictures {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }

}

.section.competence .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--another-text-color);
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}
