.section.features {
  padding-bottom: 0;

  .title {
    margin-bottom: 10px;
  }
}

.section-title {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section.features .section-list-item {
  margin-left: 30px;
  width: 270px;

  &:first-child {
    margin-left: 0px;
  }
}

.features-background-icon {
  background-color: var(--button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
}

