.section.features {

  @include mq(desktop){
    padding-bottom: 0;
  }

  .title {
    margin-bottom: 10px;
  }
}

.section-title {
  margin: 0;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 28px;
  line-height: 1.14;
  @include mq(desktop){
    font-size: 36px;
    line-height: 1.2;

  }
}
.section.features .section-list{
  @include mq(tablet-only){
    display: flex;
    flex-wrap: wrap;
  }
}

.section.features .section-list-item {

  @include mq(mobile-only){
    &:last-child{
      margin-bottom: 0px;
    }

    .title{
      text-align: center;
    } 
  }

  @include mq(tablet){
    width: 354px;
  }
  @include mq(tablet-only){
    &:nth-child(odd){
      margin-right: 30px;
    }
  }
  @include mq(desktop){
    margin-left: 30px;
    width: 270px;
  
    &:first-child {
      margin-left: 0px;
    }
  }

}

.features-background-icon {
  background-color: var(--button-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
}

