.address .link {
  color: var(--address-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-text-color);
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);

  .address-text {
    margin-bottom: 9px;
  }
  .number {
    display: block;
    margin-top: 9px;
  }
  .container {

    .container-address{
      @include mq(mobile-only){
        margin-bottom: 60px;
      }
    }

    .container-footerlinks{
      @include mq(mobile-only){
        margin-bottom: 60px;
      }
    }

    @include mq(mobile-only){
      text-align: center;
    }

    @include mq(desktop){
      display: flex;
      align-items: baseline;
    }
  }

  .top-container{
    @include mq(tablet-only){
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    }
    @include mq(desktop){
      display: flex;
      align-items: baseline;
    }
  }



}

.footer-link {
  margin-left: 10px;
  &:first-child {
    margin-left: 0px;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-text-color);
    }
  }
}


.link-icon {
  fill: var(--another-text-color);
}

.container-footerlinks {
  @include mq(desktop){
    margin-left: 70px;
  }
  @include mq(tablet-only){
    text-align: center;
    margin-left: 163px;
  }

  .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--another-text-color);
    margin-bottom: 20px;
  }

  .section-list{
    display: flex;
    justify-content: center;
   /*  @include mq(mobile){
      display: flex;
      justify-content: center;
    }
 */
    
  }
}


.address-text {
  margin: 0;

  color: var(--another-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

.page-footer .logo {
  margin-bottom: 20px;
}

.email-form {
  flex-direction: column;
  @include mq(mobile-only){
    margin-bottom: 20px;
  }
  @include mq(tablet-only){
    margin-bottom: 20px;
  }
}

.container-form {
  @include mq(tablet-only){
    justify-content: center;
    display: flex;
    text-align: center;
  }

  @include mq(desktop){
    align-items: flex-end;
    margin-left: 93px;
    display: flex;
    width: 570px;
  }
}

.form-footer {
  @include mq(desktop){
    display: flex;
    align-items: flex-end;
  }
}

.form-button {
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--another-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-btn-focus);
  }
  
  @include mq(mobile-only){
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(tablet-only){
    margin-left: auto;
    margin-right: auto;
  }
}


.label-form-footer {
  display: block;
  color: var(--another-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
  @include mq(desktop){
    margin-bottom: 10px;
  }
}

.input-form-footer {
  display: inline-block;
  background-color: transparent;
  height: 50px;
  max-width: 450px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  color: var(--address-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--address-text-color);
  }
  @include mq(tablet){
    width: 450px;
  }
  @include mq(desktop){
    width: 358px;
  }
}

.icon-send {
  margin-left: 10px;
  fill: var(--another-text-color);
}
