.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-bg-color);
  border-radius: 4px;

  width: 100vw;
  max-width: 450px;
  min-height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(desktop){
    min-width: 528px;
    min-height: 581px;
    top: 50%;
  }  

    .button-modal {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      color: #212121;
      cursor: pointer;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
        color: var(--accent-text-color);
      }
    }
}


.close-btn {
  fill: currentColor;
}

.field {
  position: relative;
  margin-bottom: 10px;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
  &:nth-child(5) {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:focus-within .label-modal-form{
    color: var(--accent-text-color);
  }

  &:focus-within .input-modal-form {
    border: 1px solid var(--accent-text-color);
  }
  &:focus-within .modal-textarea {
    border: 1px solid var(--accent-text-color);
  }
  &:focus-within .modal-icon {
    fill: var(--accent-text-color);
  }
}


.label-modal-form {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

}

.input-modal-form {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include mq(tablet){
    width: 370px;
  }
  @include mq(desktop){
    width: 448px;
  }
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal-textarea {
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:placeholder-shown {
    color: rgba(117, 117, 117, 0.5);
  }
  @include mq(tablet){
    width: 370px;
  }
  @include mq(desktop){
    width: 448px;
  }
}

.modal-form-heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-text-color);
  @include mq(desktop){
    line-height: 1.15;
  }
}

.agreement {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-text-color);
  @include mq(desktop){
    font-size: 14px;
    line-height: 1.7;

  }
}

.agreement-link {
  color: var(--accent-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 1px;
  @include mq(desktop){
    margin-left: 5px;
  }
}

.modal-button {
  color: var(--another-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-btn-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }


}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon-check {
  border: 1px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 7px;
  fill: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-check {
  fill: var(--another-text-color);
  background-color: var(--accent-text-color);
  border: transparent;
}

.button-modal-container {
  display: flex;
}
