
.portfolio-nav {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  @include mq(tablet){
    justify-content: center;
    margin-bottom: 30px;
  }
  
  @include mq(desktop){
    margin-bottom: 50px;
    
  }
}

.portfolio-nav-button {
  margin-right: 8px;
  &:last-child {
    margin-right: 0px;
  }

  @include mq(mobile-only){
    &:first-child{
      margin-bottom: 15px;
    }
    &:nth-child(3){
      margin-bottom: 15px;
    }
  }

}

.portfolio-nav-button .button {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  @include mq(mobile-only){
    justify-content: center;
  }

  .title {
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .text {
    font-size: 16px;
    line-height: 1.9;
  }
  .link {
    display: block;
    width: 100%;
    height: 100%;
  }

}

.portfolio-gallery-item {
  text-decoration: inherit;
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0px;
  }

  @include mq(tablet-only){
    &:nth-child(1) .bottom-card{
      min-height: 146px;
    }
  }
  
  @include mq(tablet-only){
    width: 354px;

    &:nth-child(odd){
      margin-right: 30px;
    }
  }

  @include mq(desktop){
  
    margin-right: 30px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
  
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
  
    }
  }
  &:hover .description-gallery {
    transform: translateY(0);
  }

  .text {
    color: var(--main-text-color);
  }
  .link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus,
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .header-card {
    position: relative;
    overflow: hidden;
  }
  .bottom-card {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  
}

.description-gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .description {
    color: var(--another-text-color);
    font-size: 18px;
    line-height: 1.6;
  }
}


