:root {
  --secondary-text-color: #212121;
  --hero-btn-focus: #188ce8;
  --main-text-color: #757575;
  --accent-text-color: #2196f3;
  --bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --another-text-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --main-icons-color: #afb1b8;
  --another-bg-color: #f5f4fa;
}
